[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
requests = "*"
schema = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
dev = "python3 src/main.py dev"
prod = "python3 src/main.py prod"
service = "python3 bin/service.play.py"
